<html>
<body>

<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>


<div class="sub_title01">
	<div class="float_left"><img src="http://i59.tinypic.com/5o7228.gif" align="left">
		<div class="copy01"><h1>더밥의 베스트, 국민도시락<h1></div>
	</div>
		
</div>


<div class="HT20_empty_space">&nbsp;</div>
<div class="HT20_empty_space">&nbsp;</div>
<div class="HT20_empty_space">&nbsp;</div>


<table border="0">
  <tr>
    <th style="text-align:center;color:red;font-size:19px;height:80px">상품</th>
    <th style="text-align:center;color:red;font-size:19px">상품명</th>
	<th style="text-align:center;color:red;font-size:19px">상세 내용</th>
	<th style="text-align:center;color:red;font-size:19px">가격</th>
	<th style="text-align:center;color:red;font-size:19px">장바구니</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td align="center"><%= image_tag(product.image_url) %></td>
  	  <td align="center"><%= product.title %></td>
	  <td align="left"><%= product.description %></td>
	  <td align="center"><%= product.price %></td>
	  <td align="center"><%= button_to '담기', items_path(product_id:product) %></td>
    </tr>
  <% end %>

</table>

<div class="HT40_empty_space">&nbsp;</div>

<div id="footer_img">
	<img src="http://i58.tinypic.com/289ldv5.gif">
</div>


</body>
</html>
